@import url("https://fonts.googleapis.com/css2?family=Tektur&family=Ubuntu:wght@300&display=swap");

HTML CSSResult Skip Results Iframe EDIT ON * {
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3586ff;
  overflow: hidden;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  --bkg: #5eb3fd;
  --white: #e7e6e6;

  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  font-size: 15vmin;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: black;
}

.ghost {
  width: 8vmin;
  height: 12vmin;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
    radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
  border-radius: 100% / 70% 70% 0% 0%;
  transform: translateX(100em) rotateZ(-90deg);
  position: relative;
  opacity: 0.9;
  mix-blend-mode: exclusion;
  animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
  0% {
    transform: translateX(30em) rotateZ(-90deg);
  }
  100% {
    transform: translateX(-35em) rotateZ(-90deg);
  }
}
.ghost div {
  position: absolute;
  width: 20%;
  background-color: var(--white);
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
  height: 7vmin;
  left: 0;
  bottom: -6vmin;
  border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
  height: 4vmin;
  left: 20%;
  bottom: -3vmin;
  border-radius: 100% / 50% 50% 0% 0%;
  background-color: transparent;
}
.ghost div:nth-of-type(3) {
  height: 4vmin;
  left: 40%;
  bottom: -3.95vmin;
  border-radius: 100% / 0% 0% 60% 60%;
  background-color: var(--white);
}
.ghost div:nth-of-type(4) {
  left: 60%;
}
.ghost div:nth-of-type(5) {
  height: 3vmin;
  left: 80%;
  bottom: -2.9vmin;
  border-radius: 100% / 0% 0% 70% 70%;
  background-color: var(--white);
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}
.cards {
  display: flex;
  justify-content: space-around;
}
h5 {
  transition: 0.2s ease 0.1s;
}
h5:hover {
  color: white;
  background-color: #3f3f3f;
  opacity: 0.5;
  border: 0px black solid 0.5;
  border-radius: 20px;
}
img {
  transition: 0.1s ease-in-out 0.1s;
}
img:hover {
  opacity: 0.7;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3586ff;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: black;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: black;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #ffffff;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
